[submodule "g8"]
	path = g8
	url = https://github.com/mdecd2024/2b-midbg8
[submodule "g9"]
	path = g9
	url = https://github.com/mdecd2024/2b-midbg9
[submodule "g6"]
	path = g6
	url = https://github.com/mdecd2024/2b-midbg6.git
[submodule "g4"]
	path = g4
	url = https://github.com/mdecd2024/2b-midbg4
